.nav__login{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav__button{
    padding: 0.5rem;
    width: 130px;
    height: auto;
    border: 1px solid var(--blue);
    background-color: var(--white);
    font-family: 'Raleway';
    font-weight: bold;
    color: var(--blue);
    cursor: pointer;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
    
}

.nav__button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: var(--blue);
    color: var(--white);
  }