.nav__search{
    display: flex;
    align-items: center;
}

.nav__form{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    background-color: var(--light-grey);
}

.nav__input {
    padding: 0.5rem;
    border-style: none;
    background-color: var(--light-grey);
}

input:focus {
    outline: none;
}

.nav__img {
    width: 1rem;
    height: auto;
    opacity: 0.5;
    cursor: pointer;   
}