.nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem;
    gap: 1rem;
}
@media screen and (max-width:768px) {
    .nav  {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
  }
  
  @media screen and (max-width:992px) {
    .nav  {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  }

  @media screen and (min-width:993px) {
    .nav  {
        display: flex;
        flex-direction: row;
        align-items: start;
        text-align: start;
    }
  }