.section__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
}

.section__title h3{
    font-family: 'Raleway',sans-serif;
    color: var(--grey);
    font-size: 22px;
    text-decoration: none;
}

.section__title a{
    text-decoration: none;
}