.section__all{
    display: flex;
    flex-direction: row;
   
}

.section__all span{
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--blue);
    cursor: pointer;
    padding-right: 0.5rem;
  
}

.section__all img{
    width: 1rem;
    height: 1rem;
}

